<section>
    <div class="container">



        <div class="row mt-3">
            <table class="table mt-4" id="all-orders">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th>Address</th>
                        <th>Pincode</th>
                        <th>Mobile</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Payment</th>
                        <th>status</th>
                        <th>View Products</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each orders}}
                    <tr>
                        <td>{{this.date}}</td>
                        <td>{{this.deliveryDetails.address}}</td>
                        <td>{{this.deliveryDetails.pincode}}</td>
                        <td>{{this.deliveryDetails.mobile}}</td>
                        <td>{{this.totalAmount}}</td>
                        <td>{{this.paymentMethod}}</td>
                        <td>{{this.status}}</td>
                        <td>
                            <a href="/view-order-products/{{this._id}}" class="btn btn-primary"><span>View Products</span></a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>

            </table>
        </div>
    </div>
</section>
<script>
  $(document).ready( function () {
    $('#all-orders').DataTable();
} );
</script>