<style>
  *{
    box-sizing: border-box;
    margin: 0;
    bottom: 0;
    padding: 0;
}

.cart-table{
    margin-top: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
table{
    border: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    /* box-shadow: 0px 0px 0px 0px #cccd; */
    width: 98%;

}
.heading{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    background-color: rgb(230, 230, 230);
    padding:20px;
display: flex;    width:100% ;
    justify-content: space-around;
}


.data{
    border-bottom: 1px solid #70707067;
    padding: 20px;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-around;
}


td img{
    width: 70px;
    height: 70px;
}

.q1{
font-size: 20px;
margin-right: 10px;
    border: none;
    background: none;
}
.q2{
    margin-left: 10px;
font-size: 16px;
margin-right: 10px;
    border: none;
    background: none;
}
button:focus{
    outline:none;
}



.del{
    
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
width: 30px;
height: 30px;
    border: none;
    background-color: red;
}
.del img{
    width: 20px;
}


@media screen and (max-width:500px){
    *{
        box-sizing: border-box;
        margin: 0;
        bottom: 0;
        padding: 0;
    }
    
    .cart-table{
        margin-top: 100px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    table{
        border: none;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    
        /* box-shadow: 0px 0px 0px 0px #cccd; */
        width: 98%;
    
    }
    .heading{
        font-size: 13px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    
        background-color: rgb(230, 230, 230);
        padding:20px;
    display: flex;    width:100% ;
        justify-content: space-around;
    }
    
    
    .data{
    font-size: 12px;
        border-bottom: 1px solid #70707067;
        padding: 20px;
        width: 100%;
        align-items: center;
        display: flex;
        justify-content: space-around;
    }
    
    
    td img{
        width: 50px;
        height: 50px;
    }
    
    .q1{
    font-size: 20px;
    margin-right: 10px;
        border: none;
        background: none;
    }
    .q2{
        margin-left: 10px;
    font-size: 16px;
    margin-right: 10px;
        border: none;
        background: none;
    }
}*{
    box-sizing: border-box;
    margin: 0;
    bottom: 0;
    padding: 0;
}

.cart-table{
    margin-top: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
table{
    border: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    /* box-shadow: 0px 0px 0px 0px #cccd; */
    width: 98%;

}
.heading{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    background-color: rgb(230, 230, 230);
    padding:20px;
display: flex;    width:100% ;
    justify-content: space-around;
}


.data{
    border-bottom: 1px solid #70707067;
    padding: 20px;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-around;
}


td img{
    width: 70px;
    height: 70px;
}

.q1{
font-size: 20px;
margin-right: 10px;
    border: none;
    background: none;
}
.q2{
    margin-left: 10px;
font-size: 16px;
margin-right: 10px;
    border: none;
    background: none;
}








@media screen and (max-width:500px){
    *{
        box-sizing: border-box;
        margin: 0;
        bottom: 0;
        padding: 0;
    }
    
    .cart-table{
        margin-top: 100px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    table{
        border: none;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    
        /* box-shadow: 0px 0px 0px 0px #cccd; */
        width: 98%;
    
    }
    .heading{
        font-size: 13px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    
        background-color: rgb(230, 230, 230);
        padding:20px;
    display: flex;    width:100% ;
        justify-content: space-around;
    }
    
    
    .data{
    font-size: 12px;
        border-bottom: 1px solid #70707067;
        padding: 20px;
        width: 100%;
        align-items: center;
        display: flex;
        justify-content: space-around;
    }
    
    
    td img{
        width: 50px;
        height: 50px;
    }
    
    .q1{
    font-size: 20px;
    margin-right: 10px;
        border: none;
        background: none;
    }
    .q2{
        margin-left: 10px;
    font-size: 16px;
    margin-right: 10px;
        border: none;
        background: none;
    }
}

</style>
<section>
   
            <div class="cart-table">
                <table >
                   

                         <tr class="heading">
                <th>Item</th>
                <th>Title</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Del</th>
            </tr>
                 
                   
                        {{#each products}}
                        <tr class="data">

                            <td><img  src="/product-images/{{this.product._id}}.jpg" alt="image">
                            </td>
                            <td>{{this.product.Name}}</td>
                            <td>Rs.{{this.product.Price}}</td>

                            <td class="1">
                                <button class="q1"
                                    onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user._id}}',-1)">-</button>
                                <span class="quantity mt-2" id="{{this.product._id}}">{{this.quantity}}</span>
                                <button class="q2 " 
                                    onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user._id}}',1)">+</button>
                            </td>
                            <td>
                                <a ><button class="del"
                                    onclick="deleteProduct('{{this._id}}','{{this.product._id}}','{{../user}}')"><img
                                        src="/images/trash-2.svg" alt=""></button></a>
                            </td>
                        </tr>
                        {{/each}}
                    
                </table>
              
            </div>
  
</section>
<div class="place-order">
      
                <hr>
                <h5 id="h5" class="float-right mr-5 mt-4">TOTAL: RS.<span id="total">{{totalValue}}</span>
                </h5><br><br><br>
               <a id="place-order" href="/place-order" class="btn btn-success float-right mr-5 mt-4"> Place
                    Order </a>
</div>
<script>
    function changeQuantity(cartId, proId, userId, count) {
        let quantity = parseInt(document.getElementById(proId).innerHTML)
        count = parseInt(count)

        $.ajax({
            url: '/change-product-quantity',
            data: {
                user: userId,
                cart: cartId,
                product: proId,
                count: count,
                quantity: quantity

            },
            method: 'post',
            success: (response) => {
                if (response.removeProduct) {
                    console.log("removeProduct")
                    alert('Product Removed from Cart')
                    location.reload()

                } else {
                    document.getElementById(proId).innerHTML = quantity + count
                    document.getElementById('total').innerHTML = response.total


                }
            }
        })
    }
</script>
<script>


    function deleteProduct(cartId, proId, userId) {

        $.ajax({
            url: '/delete-Product',
            data: {
                user: userId,
                cart: cartId,
                product: proId
            },

            method: 'post',
            success: (response) => {
                if (response.removeProduct) {
                    alert("Product removed from cart")
                    location.reload()
                }
            }
        })
    }
</script>
